.button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border-color: #bdbdbd;
  border-width: 0.5px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 600;
}

.button:hover {
  background-color: #a9a9a9;
  color: #fff;
}
