.dashboard-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

h2 {
  text-align: center;
}

.date-picker-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .date-picker-wrapper {
    width: 100%;
    flex-direction: column;
  }

  button {
    margin-top: 10px;
  }

  .makeStyles-textField-2 {
    width: 100%;
  }
}
