.dashboard-wrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

h2{
    text-align: center;
}

.date-picker-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
